.geovation-photos {

  .text-field-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 15px;

    .typography1 {
      margin-bottom: 5px;
      margin-right: 5px;
    }

    .text-field {
      max-width: 100px;
    }

    .typography2 {
      margin-bottom: 5px;
      margin-left: 5px;
    }
  }

  .picture {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

}
