service cloud.firestore {
  match /databases/{database}/documents {

    // anybody can read the photos but only admin can write
    match /photos/{photo} {
      allow read: if true;

      // write = update, delete, create
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }

    // only logged in users can add
    // owners can update
    // admin can  do anything
    // match /moderations/{moderation} {
    //
    // }

  }
}
