rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true; // not necessary as the bucket is public
      allow write: if request.auth.token.isAdmin == true || request.auth.token.isModerator == true
    }
  }
}
