rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
    }

    match /photos {
    	match /{photoId} {
      	match /original.jpg {
        	allow create: if resource == null
                        && request.auth != null 
          							&& request.resource.size < 2 * 1024 * 1024
                    		&& request.resource.contentType.matches('image/.*')
        }
      }
    }

    match /users {
      match /{uid} {
        match /avatar.jpg {
          allow write: if request.auth.uid == uid
                       && request.resource.size < 100 * 1024
                       && request.resource.contentType.matches('image/.*')
        }
      }
    }
  }
}
