service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
    }

    match /photos {
    	match /{photoId} {
      	match /original.jpg {
        	allow write: if resource == null
                        && request.auth != null 
          							&& request.resource.size < 2 * 1024 * 1024
                    		&& request.resource.contentType.matches('image/.*')
        }
      }
    }
  }
}
