rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true

      // need to run more tests and add the "published" metadata to the live photos firsts.
      // allow read: if request.auth.token.isModerator == true 
      //             || request.auth.token.isAdmin == true
      //             || resource.metadata.published == true
    }

    match /photos {
    	match /{photoId} {
      	match /original.jpg {
        	allow create: if resource == null
                        && request.auth != null 
          							&& request.resource.size < 2 * 1024 * 1024
                    		&& request.resource.contentType.matches('image/.*')
        }

        match /{allFiles=**} {
          allow update: if request.auth.token.isModerator == true 
                        || request.auth.token.isAdmin == true
        }
      }
    }
  }
}