.CategoryField__container {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  padding: 5px;
}

.CategoryField__dropdownContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
