.geovation-page1 {
  display:flex;
  flex:1;
  flex-direction:column;
  height:100vh;

  .headline {
    display:flex;
    height:50px;
    align-items:center;

    .buttonback {
      height:25px;
    }
  }

  .headtext {
    display:flex;
  }
}
