@import "../variables";

.geovation-everybodyPage {
  display:flex;
  flex:1;
  flex-direction:column;
  height:100vh;
  background-color: $color1;

  .headline {
    display:flex;
    height:50px;
    background-color:$color2;
    align-items:center;

    .buttonback {
      height:25px;
    }
  }

  .headtext {
    display:flex;
  }
}
