@import "../../common.scss";

.MiddleSlide__container {
  @include commonContainer;
}

.MiddleSlide__topText {
  @include rockedRegularTextFontWeightLight;
  font-size: 30px;
  margin: 5px;
}

.MiddleSlide__image {
  max-height: 40vh;
}

.MiddleSlide__bottomText {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 30px;
}
