$primary: #F7A70B;
$secondary: #5386E4;

////.firebaseui-textfield.mdl-textfield,
//.mdl-button--raised,
//.mdl-button--colored {
//    background-color: $primary !important;
//}

.firebaseui-subtitle, .firebaseui-text {
    color: $primary !important;
}
.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
    background: $primary !important;
}
