.Fields__pictureThumbnailContainer {
  width: 100px;
  height: 100px;
}

.Fields__pictureThumbnail {
  max-width: 100px;
  max-height: 100px;
  position: fixed;
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
  //TODO: sort out stacking contexts
  z-index: 1000;
}

.Fields__pictureThumbnailEnlarged {
  transform: scale(3);
  //TODO: sort out stacking contexts
  z-index: 1000;
}

.Fields__button {
  margin-top: 10px;
}

.Fields__container {
  display: flex;
  align-items: center;
  position: relative;
}

.Fields__numberOfPieces {
  width: 100%;
  margin-left: 25px;
}

.Fields__category {
  margin-top: 15px;
}

.Fields__instruction {
  margin: 10px 5px;
  text-align: center;
}
