@import "../custom/config";

.geovation-map {
  display: flex;
  flex-direction: column;
  height: 100%;

  .marker {
      display: block;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      padding: 0;
      background-size: cover;
      width: 40px !important;
      height: 40px !important;
  }

  .marker:hover {
  	box-shadow: inset 0 0 0 3px $secondary;
    width: 50px !important;
    height: 50px !important;
  }

  .map {
    width: 100%;
    height: 100%;
  }

}
