.geovation-tutorial {
  display: flex;
  flex-direction: column;
  height: 100%;

  .list {
    width: 100%;
    max-width: 375px;
    height: 100%;
    align-self: center;

    .listItem {
      height: 100px;

      .title {
        font-weight: bold;
      }
    }
  }
}
