.geovation-app {
  display: flex;
  flex-flow: column;
  height: 100%;

  .hidden {
    display: none;
  }

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
    position: relative; /* need this to position inner content */
    overflow-y: auto;
    height: 100%;
  }

  footer {
    flex: 0 0 auto;
  }

  .offline {
    bottom: 50px;
  }
}
