@import "./custom/config";

.geovation-app {
  display: flex;
  flex-flow: column;
  height: 100%;

  .hidden {
    display: none;
  }

  main {
    flex: 1 1 auto;
    position: relative; /* need this to position inner content */
    overflow: hidden;
    height: 100%;
  }

  footer {
    flex: 0 0 auto;
  }
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background: $secondary !important;
}
.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background: $secondary !important;
}

// color of the link text for forgotten passwords
.firebaseui-link.firebaseui-id-secondary-link {
  //color: $secondary !important;
}
