.TutorialItem__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 170px;
  background-color: #f3f3f3;
  border-radius: 8px;
  margin: 50px 10px;
  padding: 15px;
  text-align: center;

  box-shadow: 0 0 8px #cccccc;
}

.TutorialItem__photo {
  color: rgba(0, 0, 0, 0.54);
}

.TutorialItem__text {
  color: rgba(0, 0, 0, 0.54);
}
